-- Tool Effectiveness Database Schema Migration
-- This schema enables tracking and analysis of trading tool effectiveness metrics

-- Create extension if not exists
CREATE EXTENSION IF NOT EXISTS timescaledb;

-- Tool Categories
CREATE TABLE IF NOT EXISTS tool_categories (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL UNIQUE,
    description TEXT,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Trading Tools
CREATE TABLE IF NOT EXISTS trading_tools (
    id SERIAL PRIMARY KEY,
    tool_id VARCHAR(100) NOT NULL UNIQUE, -- External identifier used by the application
    name VARCHAR(100) NOT NULL,
    category_id INTEGER REFERENCES tool_categories(id),
    description TEXT,
    parameters JSONB DEFAULT '{}',
    is_active BOOLEAN DEFAULT TRUE,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Tool Signals
CREATE TABLE IF NOT EXISTS tool_signals (
    id SERIAL PRIMARY KEY,
    signal_id UUID NOT NULL UNIQUE, -- UUID generated by the application
    tool_id VARCHAR(100) NOT NULL REFERENCES trading_tools(tool_id),
    signal_type VARCHAR(50) NOT NULL, -- 'buy', 'sell', 'hold', etc.
    instrument VARCHAR(20) NOT NULL, -- e.g., 'EUR_USD'
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL,
    confidence NUMERIC(5,4) DEFAULT 1.0, -- Signal confidence level (0.0-1.0)
    timeframe VARCHAR(10) NOT NULL, -- e.g., '1H', '4H', '1D'
    market_regime VARCHAR(20) DEFAULT 'unknown', -- 'trending', 'ranging', 'volatile', 'unknown'
    additional_data JSONB DEFAULT '{}', -- Any additional signal metadata
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Signal Outcomes
CREATE TABLE IF NOT EXISTS signal_outcomes (
    id SERIAL PRIMARY KEY,
    signal_id UUID NOT NULL REFERENCES tool_signals(signal_id),
    success BOOLEAN NOT NULL, -- Whether the signal led to a successful trade
    realized_profit NUMERIC(15,5) DEFAULT 0.0, -- Profit/loss realized from the trade
    timestamp TIMESTAMP WITH TIME ZONE NOT NULL, -- When the outcome was recorded
    additional_data JSONB DEFAULT '{}', -- Any additional outcome metadata
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Create a TimescaleDB hypertable for tool_signals
SELECT create_hypertable('tool_signals', 'timestamp', if_not_exists => TRUE);

-- Create a TimescaleDB hypertable for signal_outcomes
SELECT create_hypertable('signal_outcomes', 'timestamp', if_not_exists => TRUE);

-- Aggregated Effectiveness Metrics
CREATE TABLE IF NOT EXISTS effectiveness_metrics (
    id SERIAL PRIMARY KEY,
    tool_id VARCHAR(100) NOT NULL REFERENCES trading_tools(tool_id),
    metric_type VARCHAR(50) NOT NULL, -- 'win_rate', 'profit_factor', 'expected_payoff', etc.
    value NUMERIC(15,5) NOT NULL,
    timeframe VARCHAR(10), -- Optional filter: specific timeframe
    instrument VARCHAR(20), -- Optional filter: specific instrument
    market_regime VARCHAR(20), -- Optional filter: specific market regime
    start_date TIMESTAMP WITH TIME ZONE NOT NULL,
    end_date TIMESTAMP WITH TIME ZONE NOT NULL,
    signal_count INTEGER NOT NULL,
    outcome_count INTEGER NOT NULL,
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Create index for faster lookups
CREATE INDEX idx_signals_tool_id ON tool_signals(tool_id);
CREATE INDEX idx_signals_instrument ON tool_signals(instrument);
CREATE INDEX idx_signals_timeframe ON tool_signals(timeframe);
CREATE INDEX idx_signals_market_regime ON tool_signals(market_regime);
CREATE INDEX idx_outcomes_signal_id ON signal_outcomes(signal_id);
CREATE INDEX idx_metrics_tool_id ON effectiveness_metrics(tool_id);

-- Effectiveness Reports (saved analyses)
CREATE TABLE IF NOT EXISTS effectiveness_reports (
    id SERIAL PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    description TEXT,
    report_data JSONB NOT NULL, -- Complete report data in JSON format
    filters JSONB DEFAULT '{}', -- Filters applied to generate this report
    created_by VARCHAR(100), -- User who created the report
    created_at TIMESTAMP WITH TIME ZONE DEFAULT CURRENT_TIMESTAMP
);

-- Views for easier querying

-- Latest effectiveness metrics by tool
CREATE OR REPLACE VIEW latest_tool_effectiveness AS
SELECT DISTINCT ON (tool_id, metric_type, timeframe, instrument, market_regime)
    tool_id, 
    metric_type, 
    value,
    timeframe,
    instrument,
    market_regime,
    signal_count,
    outcome_count,
    start_date,
    end_date,
    created_at
FROM effectiveness_metrics
ORDER BY tool_id, metric_type, timeframe, instrument, market_regime, end_date DESC;

-- Tool success rates (simplified view)
CREATE OR REPLACE VIEW tool_success_rates AS
SELECT 
    t.tool_id,
    t.name AS tool_name,
    COUNT(DISTINCT s.signal_id) AS total_signals,
    COUNT(DISTINCT o.id) AS total_outcomes,
    SUM(CASE WHEN o.success THEN 1 ELSE 0 END) AS successful_outcomes,
    CASE 
        WHEN COUNT(DISTINCT o.id) > 0 
        THEN ROUND((SUM(CASE WHEN o.success THEN 1 ELSE 0 END)::NUMERIC / COUNT(DISTINCT o.id)::NUMERIC) * 100, 2)
        ELSE 0
    END AS success_rate_percent
FROM
    trading_tools t
LEFT JOIN
    tool_signals s ON t.tool_id = s.tool_id
LEFT JOIN
    signal_outcomes o ON s.signal_id = o.signal_id
GROUP BY
    t.tool_id, t.name;

-- Tool effectiveness by market regime
CREATE OR REPLACE VIEW tool_regime_effectiveness AS
SELECT 
    t.tool_id,
    t.name AS tool_name,
    s.market_regime,
    COUNT(DISTINCT s.signal_id) AS total_signals,
    COUNT(DISTINCT o.id) AS total_outcomes,
    SUM(CASE WHEN o.success THEN 1 ELSE 0 END) AS successful_outcomes,
    CASE 
        WHEN COUNT(DISTINCT o.id) > 0 
        THEN ROUND((SUM(CASE WHEN o.success THEN 1 ELSE 0 END)::NUMERIC / COUNT(DISTINCT o.id)::NUMERIC) * 100, 2)
        ELSE 0
    END AS success_rate_percent
FROM
    trading_tools t
LEFT JOIN
    tool_signals s ON t.tool_id = s.tool_id
LEFT JOIN
    signal_outcomes o ON s.signal_id = o.signal_id
GROUP BY
    t.tool_id, t.name, s.market_regime;

-- Function to calculate tool win rate for a specific period
CREATE OR REPLACE FUNCTION calculate_tool_win_rate(
    p_tool_id VARCHAR,
    p_start_date TIMESTAMP WITH TIME ZONE,
    p_end_date TIMESTAMP WITH TIME ZONE,
    p_timeframe VARCHAR DEFAULT NULL,
    p_instrument VARCHAR DEFAULT NULL,
    p_market_regime VARCHAR DEFAULT NULL
)
RETURNS TABLE (
    win_rate NUMERIC,
    signal_count BIGINT,
    outcome_count BIGINT
) AS $$
BEGIN
    RETURN QUERY
    WITH filtered_signals AS (
        SELECT s.signal_id
        FROM tool_signals s
        WHERE s.tool_id = p_tool_id
        AND s.timestamp BETWEEN p_start_date AND p_end_date
        AND (p_timeframe IS NULL OR s.timeframe = p_timeframe)
        AND (p_instrument IS NULL OR s.instrument = p_instrument)
        AND (p_market_regime IS NULL OR s.market_regime = p_market_regime)
    ),
    outcomes AS (
        SELECT o.success
        FROM signal_outcomes o
        JOIN filtered_signals fs ON o.signal_id = fs.signal_id
    )
    SELECT 
        CASE 
            WHEN COUNT(*) > 0 THEN 
                ROUND((SUM(CASE WHEN success THEN 1 ELSE 0 END)::NUMERIC / COUNT(*)::NUMERIC) * 100, 2)
            ELSE 0
        END AS win_rate,
        (SELECT COUNT(*) FROM filtered_signals) AS signal_count,
        COUNT(*) AS outcome_count
    FROM outcomes;
END;
$$ LANGUAGE plpgsql;

-- Function to update effectiveness metrics for a tool
CREATE OR REPLACE FUNCTION update_tool_effectiveness_metrics(
    p_tool_id VARCHAR,
    p_start_date TIMESTAMP WITH TIME ZONE,
    p_end_date TIMESTAMP WITH TIME ZONE
)
RETURNS VOID AS $$
DECLARE
    v_win_rate NUMERIC;
    v_profit_factor NUMERIC;
    v_expected_payoff NUMERIC;
    v_signal_count BIGINT;
    v_outcome_count BIGINT;
    v_gross_profit NUMERIC;
    v_gross_loss NUMERIC;
BEGIN
    -- Calculate win rate
    SELECT * FROM calculate_tool_win_rate(p_tool_id, p_start_date, p_end_date) 
    INTO v_win_rate, v_signal_count, v_outcome_count;
    
    -- Insert win rate metric
    INSERT INTO effectiveness_metrics 
        (tool_id, metric_type, value, start_date, end_date, signal_count, outcome_count)
    VALUES 
        (p_tool_id, 'win_rate', v_win_rate, p_start_date, p_end_date, v_signal_count, v_outcome_count);
        
    -- Calculate profit factor
    SELECT 
        COALESCE(SUM(CASE WHEN o.realized_profit > 0 THEN o.realized_profit ELSE 0 END), 0) AS gross_profit,
        COALESCE(ABS(SUM(CASE WHEN o.realized_profit < 0 THEN o.realized_profit ELSE 0 END)), 0) AS gross_loss
    INTO v_gross_profit, v_gross_loss
    FROM tool_signals s
    JOIN signal_outcomes o ON s.signal_id = o.signal_id
    WHERE s.tool_id = p_tool_id
    AND s.timestamp BETWEEN p_start_date AND p_end_date;
    
    -- Calculate profit factor
    IF v_gross_loss > 0 THEN
        v_profit_factor := ROUND(v_gross_profit / v_gross_loss, 2);
    ELSIF v_gross_profit > 0 THEN
        v_profit_factor := 999; -- Arbitrary large number when no losses
    ELSE
        v_profit_factor := 0; -- No profits
    END IF;
    
    -- Insert profit factor metric
    INSERT INTO effectiveness_metrics 
        (tool_id, metric_type, value, start_date, end_date, signal_count, outcome_count)
    VALUES 
        (p_tool_id, 'profit_factor', v_profit_factor, p_start_date, p_end_date, v_signal_count, v_outcome_count);
        
    -- Calculate expected payoff
    SELECT 
        CASE 
            WHEN COUNT(*) > 0 THEN ROUND(SUM(o.realized_profit) / COUNT(*), 2)
            ELSE 0
        END AS expected_payoff
    INTO v_expected_payoff
    FROM tool_signals s
    JOIN signal_outcomes o ON s.signal_id = o.signal_id
    WHERE s.tool_id = p_tool_id
    AND s.timestamp BETWEEN p_start_date AND p_end_date;
    
    -- Insert expected payoff metric
    INSERT INTO effectiveness_metrics 
        (tool_id, metric_type, value, start_date, end_date, signal_count, outcome_count)
    VALUES 
        (p_tool_id, 'expected_payoff', v_expected_payoff, p_start_date, p_end_date, v_signal_count, v_outcome_count);
END;
$$ LANGUAGE plpgsql;

-- Create a continuous aggregate for daily tool performance
SELECT add_continuous_aggregate_policy('tool_success_rates',
    start_offset => INTERVAL '30 days',
    end_offset => INTERVAL '1 day',
    schedule_interval => INTERVAL '1 day');
